<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link rel="stylesheet" th:href="@{/resources/css/mensagem.css}">
</head>

<body>

	<div th:if="${mapaMensagem != null}">
		<div id="modalMsg" class="modal" th:classappend="${mapaMensagem.tipoMensagem}">
			<div class="modal-content">
				<b><span th:text="${mapaMensagem.mensagem}" ></span></b>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$('.modal').modal().modal('open');
			});
		</script>
	</div>
</body>

</html>
