<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!--Import jQuery before materialize.js-->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
	th:src="@{/resources/js/materialize.min.js}"></script>
<script type="text/javascript"
	th:src="@{/resources/js/classificacao.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/comum.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/bootstrap.js}"></script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADLLbi_ei8WPPbzyCq5_UUCN0Iy--V3Lo"></script>


<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet">

<link th:href="@{/resources/css/classificacao.css}" rel="stylesheet">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Infomore</title>
</head>
<body>

	<div class="container">
		<div th:each="${classificacao : #servletContext.getAttribute('listaClassificacaoView')}">
			<span th:text="${classificacao}" th:remove="tag"></span>
		</div>
		<!-- <form th:action="@{/alterarClassificacao}" method="post" th:object="${prioridades}">
			
			
					<div class="row">
						<h4>
							<i class="material-icons"> Icone </i> Nome Categoria
						</h4>
	
						<p class="range-field">
							Descrição Categoria <input type="range"
								id="idPrioridade"
								name="namePrioridade" min="0" max="10"
								/>
						</p>
					</div>
			
		
			

			<div class="row center-align">
				<input type="submit" class="btn waves-effect waves-light botao"
					value="Prosseguir" />
			</div>

	</form>
 -->
	</div>


</body>
</html>