<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<context:component-scan base-package="br.com.infomore" />

	<!-- Use spring servlet for all requests, including static resources -->
	<mvc:default-servlet-handler />

	<!-- Use @MVC annotations -->
	<mvc:annotation-driven />

	<!-- Thymeleaf View Resolver - implementation of Spring's ViewResolver interface -->
	<bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>

	<bean id="templateResolver"
		class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
	</bean>

	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".html" />
		<property name="order" value="2" />
		<property name="viewNames" value="*html" />
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="order" value="1" />
		<property name="viewNames" value="*.html,*.xhtml" />
	</bean>

	<mvc:interceptors>
		<bean class="br.com.infomore.web.interceptor.AutorizadorInterceptor" />
	</mvc:interceptors>

	<mvc:resources mapping="resources/**" location="resources/"
		cache-period="31556926" />

	<!-- DAOs -->
	<bean id="usuarioDao" class="br.com.infomore.core.impl.dao.UsuarioDAO" />
	<bean id="categoriaDao" class="br.com.infomore.core.impl.dao.CategoriaDAO" />
	<bean id="pontoDao" class="br.com.infomore.core.impl.dao.PontoDAO" />
	<bean id="limiteRaioDao" class="br.com.infomore.core.impl.dao.LimiteRaioDAO" />

	<util:map id="daos" map-class="java.util.HashMap" key-type="java.lang.String"
		value-type="br.com.infomore.core.IDAO">
		<entry key="br.com.infomore.dominio.Usuario" value-ref="usuarioDao" />
		<entry key="br.com.infomore.dominio.Categoria" value-ref="categoriaDao" />
		<entry key="br.com.infomore.dominio.Ponto" value-ref="pontoDao" />
		<entry key="br.com.infomore.dominio.LimiteRaio" value-ref="limiteRaioDao" />
	</util:map>


	<!-- Impl dos Strategies utilizados nas operações de usuário -->

	<bean id="abstractValidacaoUsuario" abstract="true"
		class="br.com.infomore.core.impl.negocio.usuario.AbstractValidacaoUsuario">
		<property name="usuarioDao" ref="usuarioDao" />
	</bean>

	<bean id="validaEmail" parent="abstractValidacaoUsuario"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaEmailUnicoUsuario" />
	<bean id="validaCamposCadastro"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaCamposCadastroUsuario" />
	<bean id="validaLogin"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaLoginUsuario" />
	<bean id="validaCamposAlteracaoPerfil"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaCamposAlteracaoPerfilUsuario" />
	<bean id="validaCamposAlteracaoSenha"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaCamposAlteracaoSenhaUsuario" />
	<bean id="validaConfirmacaoSenha"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaConfirmacaoSenhaUsuario" />
	<bean id="validaSenhaAtualUsuario"
		class="br.com.infomore.core.impl.negocio.usuario.ValidaSenhaAtualUsuario" />
	<bean id="preencheSenhaNova"
		class="br.com.infomore.core.impl.negocio.usuario.PreencheSenhaNovaUsuario" />

	<!-- Regras para salvar usuário -->
	<util:list id="rnsSalvarUsuario" list-class="java.util.ArrayList">
		<ref bean="validaEmail" />
		<ref bean="validaCamposCadastro" />
		<ref bean="validaConfirmacaoSenha" />
		<ref bean="preencheSenhaNova" />
	</util:list>

	<!-- Regras para alterar o perfil do usuário -->
	<util:list id="rnsAlterarPerfilUsuario" list-class="java.util.ArrayList">
		<ref bean="validaEmail" />
		<ref bean="validaCamposAlteracaoPerfil" />
		<ref bean="validaConfirmacaoSenha" />
	</util:list>

	<!-- Regras para alterar a senha do usuário -->
	<util:list id="rnsAlterarSenhaUsuario" list-class="java.util.ArrayList">
		<ref bean="validaCamposAlteracaoSenha" />
		<ref bean="validaSenhaAtualUsuario" />
		<ref bean="validaConfirmacaoSenha" />
		<ref bean="preencheSenhaNova" />
	</util:list>

	<!-- Regras para consultar usuário (login) -->
	<util:list id="rnsConsultarUsuario" list-class="java.util.ArrayList">
		<ref bean="validaLogin" />
	</util:list>

	<!-- Mapa de String(nome da operação) e List<IStrategy> das regras das operações 
		de usuário -->
	<util:map id="rnsUsuario" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="java.lang.List">
		<entry key="salvar" value-ref="rnsSalvarUsuario" />
		<entry key="alterarPerfil" value-ref="rnsAlterarPerfilUsuario" />
		<entry key="alterarSenha" value-ref="rnsAlterarSenhaUsuario" />
		<entry key="consultar" value-ref="rnsConsultarUsuario" />
	</util:map>


	<!-- Mapa de String(nome da classe) e Map<String (nome da operação), List<IStrategy> 
		(regras)> -->

	<util:map id="rns" map-class="java.util.HashMap" key-type="java.lang.String"
		value-type="java.util.Map">
		<entry key="br.com.infomore.dominio.Usuario" value-ref="rnsUsuario" />
	</util:map>

	<!-- Resultado -->
	<util:list id="entidades" list-class="java.util.ArrayList" />

	<bean id="resultado" class="br.com.infomore.core.aplicacao.Resultado">
		<property name="entidades" ref="entidades" />
	</bean>


	<!-- Fachada com a injeção do mapa de rns e de daos e do resultado -->

	<bean id="fachada" class="br.com.infomore.core.impl.controle.Fachada"
		scope="singleton">
		<property name="rns" ref="rns" />
		<property name="daos" ref="daos" />
		<property name="resultado" ref="resultado" />
	</bean>




	<bean id="infomoreCommand" abstract="true"
		class="br.com.infomore.controle.web.command.impl.AbstractInfomoreCommand">
		<property name="fachada" ref="fachada" />
	</bean>

	<bean id="alterarClassificacaoCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.AlterarClassificacaoCommand" />

	<bean id="alterarCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.AlterarCommand" />


	<bean id="alterarPerfilCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.AlterarPerfilCommand" />

	<bean id="alterarSenhaCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.AlterarSenhaCommand" />


	<bean id="consultarCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.ConsultarCommand" />


	<bean id="excluirCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.ExcluirCommand" />


	<bean id="listarCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.ListarCommand" />


	<bean id="salvarCommand" parent="infomoreCommand"
		class="br.com.infomore.controle.web.command.impl.SalvarCommand" />


	<util:map id="commands" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="br.com.infomore.controle.web.command.ICommand">
		<entry key="alterarClassificacaoCommand" value-ref="alterarClassificacaoCommand" />
		<entry key="alterarCommand" value-ref="alterarCommand" />
		<entry key="alterarPerfilCommand" value-ref="alterarPerfilCommand" />
		<entry key="alterarSenhaCommand" value-ref="alterarSenhaCommand" />
		<entry key="consultarCommand" value-ref="consultarCommand" />
		<entry key="excluirCommand" value-ref="excluirCommand" />
		<entry key="listarCommand" value-ref="listarCommand" />
		<entry key="salvarCommand" value-ref="salvarCommand" />
	</util:map>


</beans>