<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>infomore</display-name>
	<welcome-file-list>
		<welcome-file>/login</welcome-file>
	</welcome-file-list>
	
	<!-- definição da Servlet que atenderá todas requisições -->
	<servlet>
		<description></description>
		<display-name>infomore</display-name>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>br.com.infomore.controle.web.Servlet</servlet-class>
	</servlet>
	
	<!-- mapeamentos de requisição síncrona (form, href e etc) -->
	
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/cadastro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/classificacao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/local</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/perfil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/senha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/mapa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/navegar</url-pattern>
	</servlet-mapping>
	
	<!-- mapeamentos de requisição assíncrona (ajax) -->
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/atualizaPontosRaio</url-pattern>
	</servlet-mapping>
</web-app>